# dependencies
**/node_modules
src/.umi/**
# production
/dist
/.vscode

# misc
.DS_Store
npm-debug.log*
yarn-error.log

.idea
yarn.lock
package-lock.json
*bak
.vscode

# visual studio code
.history
*.log
functions/*
.temp/**

# screenshot
screenshot
.firebase
.eslintcache

# test
test/coverage
